@font-face {
    font-family: 'simfang';
    src: url('../fonts/simfang.ttf') format('truetype');
}

@font-face {
    font-family: 'times';
    src: url('../fonts/TIMES.TTF') format('truetype');
}

body {
    font-family: 'times', 'simfang', sans-serif;
}
