@font-face {
    font-family: 'simfang';
    src: url('../fonts/simfang.ttf') format('truetype');
}

body {
    font-family: 'simfang', sans-serif; /* 使用自定义字体 CustomFont，如果无法加载则使用系统默认的 sans-serif 字体 */
}